@page "/callback/{Token}"
@inject HttpClient Http;

<PageTitle>Validating Login</PageTitle>

<h1>Validating Login</h1>

@code {

    [Parameter] public string Token { get; set; }
    public async Task LoginLogic()
    {

        if (Token == "BB54D562-58A7-4267-8F9A-0B1A60A12C02")
        {
            _navigationManager.NavigateTo("/");
        }

        // string result = "";
        // try
        // {
        //     result = await Http.GetStringAsync("Security/ValidateToken?applicationAuthenticationProviderGUID=BB54D562-58A7-4267-8F9A-0B1A60A12C02");
        // }
        // catch (Exception ex)
        // {
        //     Console.WriteLine(ex.Message);
        // }

        // string loginurl = "https://localhost:7190/login/BB54D562-58A7-4267-8F9A-0B1A60A12C02";

        // //redirect lo login
        // _navigationManager.NavigateTo(loginurl);

    }
}
