@page "/login"
@inject HttpClient Http;

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<button @onclick="LoginLogic">Click here to login</button>

@code {

    public async Task LoginLogic()
    {

        // string result = "";
        // try
        // {
        //     result = await Http.GetStringAsync("Security/ApplicationLoginRequest?applicationAuthenticationProviderGUID=xxx");
        // }
        // catch (Exception ex)
        // {
        //     Console.WriteLine(ex.Message);
        // }
        
        string loginurl = "https://localhost:7190/login/68F57754-72F4-4E98-B308-78DAD0D6BCDD";
        
        //redirect lo login
        _navigationManager.NavigateTo(loginurl);

    }
}
