@page "/login"
@inject HttpClient Http;

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<button @onclick="LoginLocal">Click here to login locally</button>
<button @onclick="LoginAD">Click here to login with Active Directory</button>

@code {

    public async Task LoginLocal()
    {   
        string loginurl = "https://localhost:7190/login/9EBA0CCD-FF5B-42AB-B6FB-861D18BD68D3";
        _navigationManager.NavigateTo(loginurl);
    }

    public async Task LoginAD()
    {
        string loginurl = "https://localhost:7190/login/B06D47B8-093F-4A85-86B5-407F977B366C";
        _navigationManager.NavigateTo(loginurl);
    }
}
