@page "/login"
@inject HttpClient _httpClient;

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<button @onclick="LoginLogic">Click here to login</button>

@code {

    public async Task LoginLogic()
    {
        string model = "AppId, AuthProviderId and SecreteKey";
        string requestologintokenurl = "https://localhost:7190/requestlogintoken";
        string loginurl = "https://localhost:7190/login?token=";

        //envio el request para login
        var response = await _httpClient.PostAsJsonAsync(requestologintokenurl, model);
        //if (!response.IsSuccessStatusCode)
            
        //recibo el guid para login
        //var result = await response.Content.ReadFromJsonAsync<APIResult<string>>();
        

        //redirect lo login
        //_navigationManager.NavigateTo("/noaccess");

    }
}
