@page "/applicationrolecreate/{ApplicationId:int}"

<MudBreadcrumbs Items="_breadcrumbs"></MudBreadcrumbs>

<EditForm Model="model" OnValidSubmit="Create">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <MudCard Class="mb-2">
        <MudCardContent>            
            <MudTextField Label="Role Name" @bind-Value="model.RoleName"
                          For="@(()=>model.RoleName)">
            </MudTextField>
            <MudTextField Label="Role Description" @bind-Value="model.RoleDescription"
                          For="@(()=>model.RoleDescription)">
            </MudTextField>
        </MudCardContent>
    </MudCard>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
</EditForm>