@page "/ApplicationViewEdit/{id:int}"

<MudBreadcrumbs Items="_breadcrumbs"></MudBreadcrumbs>

@if (!_loaded)
{
    <h3>Loading...</h3>
    <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="75" Class="my-7" />
}
else
{
    <EditForm Model="model" OnValidSubmit="Edit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <MudCard Class="mb-2">
            <MudCardContent>
                <MudTextField Disabled="!_AccessApplicationEdit" ReadOnly="true" Label="Application Name" @bind-Value="model.ApplicationName"
                              For="@(()=>model.ApplicationName)">
                </MudTextField>
                <MudTextField Disabled="!_AccessApplicationEdit" ReadOnly="false" Label="Description" @bind-Value="model.ApplicationDesc"
                              For="@(()=>model.ApplicationDesc)">
                </MudTextField>

                <MudTextField Disabled="!_AccessApplicationEdit" ReadOnly="true" Label="Application Id" @bind-Value="model.ApplicationGuid"
                              For="@(()=>model.ApplicationGuid)">
                </MudTextField>

                <MudTextField Disabled="!_AccessApplicationEdit" ReadOnly="true" Label="API Key" @bind-Value="model.AppApiKey"
                              For="@(()=>model.AppApiKey)">
                </MudTextField>

                <br />
                <MudButton Disabled="!_AccessApplicationEdit" Color="Color.Primary" Variant="Variant.Filled" OnClick="() => GenerateNewAPIKey(model)" Class="mb-2">Generate New API Key</MudButton>

            </MudCardContent>
        </MudCard>

        <MudButton Disabled="!_AccessApplicationEdit" Color="Color.Primary" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Class="mb-2">Save</MudButton>
        <MudButton Disabled="!_AccessApplicationEdit" Color="Color.Primary" Variant="Variant.Filled" OnClick="CancelChanges" Class="mb-2">Cancel</MudButton>

    </EditForm>

    <br />

    <MudExpansionPanels>

        <MudExpansionPanel Text="Application Roles">
            <ApplicationRoles ApplicationId="model.Id" />
        </MudExpansionPanel>

        <MudExpansionPanel Text="Application Authentication Providers">
            <ApplicationAuthenticationProviders ApplicationId="model.Id" />
        </MudExpansionPanel>

    </MudExpansionPanels>
}