@inherits LayoutComponentBase
@page "/loginx"


<h3>Login</h3>
<MudThemeProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Inherit" Link="https://mudblazor.com/" Target="_blank" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor/" Target="_blank" />
    </MudAppBar>    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-8 pt-8">
            <div>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" @bind="@userLoginModel.Username" />
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" @bind="@userLoginModel.Password" />
                </div>
                <button type="button" class="btn btn-primary" @onclick="LoginUser">Login</button>
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private UserLoginDto userLoginModel = new UserLoginDto();

    private async Task LoginUser()
    {
        bool result = await securityService.LoginAsync(userLoginModel);
        if (result)
        {
            _navigationManager.NavigateTo("/");
        }
    }
}
