@page "/PasswordChangeRequest"
@layout LoginLayout
@attribute [AllowAnonymous]

<EditForm Model="model" OnValidSubmit="SubmitAsync">
    <MudGrid>
        <DataAnnotationsValidator />
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4">Password Reset</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="Email" Variant="Variant.Outlined"
                          @bind-Value="model.Email" For="@(() => model.Email)" />
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Send Password Reset to Email</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>