@page "/admin"

@*<AuthorizeView>
    <Authorized>*@
<h2>Admin</h2>


<ul>
    <li><NavLink href="/admin/users">Users</NavLink></li>
    <li><NavLink href="/admin/roles">Roles</NavLink></li>
</ul>

@*    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>*@

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
}