@page "/admin/roles"


@*<AuthorizeView>
    <Authorized>*@
        <h2>Roles</h2>

@*    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>*@

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
}