@page "/admin/usercreate"

@*<AuthorizeView>
    <Authorized>*@
<h3><NavLink href="/admin/users">Users</NavLink> > Create User</h3>


<EditForm Model="userCreateModel" OnValidSubmit="CreateUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <MudCard Class="mb-2">
        <MudCardContent>
            <MudTextField Label="Username" @bind-Value="userCreateModel.Username"
                          For="@(()=>userCreateModel.Username)"
                          HelperText="Can't contain spaces">
            </MudTextField>
            <MudTextField Label="Email" @bind-Value="userCreateModel.Email"
                          For="@(()=>userCreateModel.Email)">
            </MudTextField>
            <MudTextField Label="Name" @bind-Value="userCreateModel.Name"
                          For="@(()=>userCreateModel.Name)">
            </MudTextField>
        </MudCardContent>
    </MudCard>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>

</EditForm>

@*    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>*@
